{% load easy_thumbnails_tags %}

          <div class="grid-item">
            <div class="categories">
              {% for category in object.categories.all %}
                {% include 'spacescoops/category_inline_icon.html' with category=category do_link=False %}
              {% endfor %}
            </div>
      {% if object.main_visual %}
            <a href="{% url 'scoops:detail' code=object.code slug=object.slug %}">
        <img src="{{ object.main_visual|thumbnail_url:'article_thumb' }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
      {% endif %}
            </a>
            <div class="legend">
              <div class="date">{{ object.release_date|date:"DATE_FORMAT" }}</div>
              <div class="title"><a href="{% url 'scoops:detail' code=object.code slug=object.slug %}">{{ object.title }}</a></div>
            </div>
          </div>
