{% load easy_thumbnails_tags %}
<div class="row gap-4">
    {% for object in object_list %}
        <div class="col d-flex flex-column align-items-center">
            <a href="{% url 'scoops:detail' code=object.code slug=object.slug %}">
                {% thumbnail object.main_visual 'article_thumb_inline' as tb %}
                <img src="{{ tb.url }}" width="{{ tb.width }}" height="{{ tb.height }}"/>
            </a>

            <a class="fw-bold fs-6 text-initial mt-2 mx-2 text-center" href="{% url 'scoops:detail' code=object.code slug=object.slug %}">{{ object.title }}</a>
        </div>
    {% endfor %}
</div>
