{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <div class="row justify-content-center">

        {% if object_list %}
            <div class="col-10 py-4">
                <div class="category-title text-green">{% trans 'Topics' %}</div>
            </div>
            <div class="col-10">
                <div class="row">
                    {% for object in object_list %}
                        <div class="col text-center topic">
                            {% include 'spacescoops/category_inline_icon.html' with category=object img_class="xl" %}
                            <div class="title pt-2 pb-4">
                                <a class="fs-3" href="{% url 'categories:detail' slug=object.slug %}">{{ object.title }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>


        {% else %}
            <div class="col-10">
                <p>{% trans 'No articles are available.' %}</p>
            </div>
        {% endif %}
    </div>

{% endblock %}
