{% extends 'base.html' %}
{% load static easy_thumbnails_tags i18n %}


{% block content %}

    <div class="row justify-content-center">
        <div class="col-10 py-4">
            <div class="category-title">{% trans 'Space Scoop Friends' %}</div>
        </div>

        {% for object in object_list %}
            {% if object.scoops_available|length > 0 %}
                <div class="col-10 d-flex align-items-center justify-content-between">
                    <a class="fs-2 fw-bold text-initial" href="{% url 'partners:detail' slug=object.slug %}">{{ object.title }}</a>

                    <a href="{{ object.url }}" class="logo" target="_blank">
                        {% thumbnail object.logo 60x60 crop=scale  as thumb %}
                        <img src="{{ thumb.url }}"/>
                    </a>
                </div>
                <div class="col-10 mb-5">
                    {% url 'partners:detail' slug=object.slug as partner_detail_url %}
                    <a href="{{ object.slug }}">Read more Space Scoops</a>
                    based on
                    {{ object.name }}
                    Press Releases.
                    {% blocktrans with partner_name=object.name partner_url=object.url %}<a href="{{ partner_url }}" target="_blank">Learn more</a>
                    about
                    {{ partner_name }}.{% endblocktrans %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
